@font-face {
	font-family: Champagne and Limousines;
	src: url('fonts/Champagne & Limousines.ttf');
}

@font-face {
    font-family: 'Levitee Demo';
    src: url('fonts/LeviteeDemo.woff2') format('woff2'),
        url('fonts/LeviteeDemo.woff') format('woff'),
        url('fonts/LeviteeDemo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@media only screen and (max-width: 1279px) {
	nav {
		display: none;
	}
	
	.produtos {
		display: block;
	}
	
	.produtos-left, .produtos-right {
		width: 100%;
		margin: auto;
	}
	
	.produtos-left {
		color: #888;
		text-align: center;
		font-size: 27px;
	}
	
	.mapa {
		width: 100%;
		min-height: 400px;
		margin-top: 20px;
		display: block;
	}

	.left{
		margin: auto;
		width: fit-content;
	}
	
	.right {
		text-align: center;
	}
	
	.icons {
		text-align: center;
	}
	
	.contato-section {
		display: none;
	}
}

@media only screen and (min-width: 1280px) {
	.produtos {
		display: flex;
	}

	.produtos-left, .produtos-right {
		width: 50%;
	}
	
	.produtos-left {
		color: #888;
		text-align: right;
		font-size: 27px;
	}
	
	.center {
		width: 100%;
		text-align: center;
		margin: auto;
	}
	
	.mapa {
		width: 100%;
		min-height: 400px;
		margin-top: 20px;
		display: flex;
	}

	.left, .right {
		width: 50%;
	}
}

body {
	margin: 0;
	font-family: Champagne and Limousines;
	
}

main {
	max-width: 1280px;
	min-height: 1000px;
	margin: auto;
}

nav {
	width: 100%;
	min-width: 1280px;
	background: rgb(227, 85, 106);
	transition: color 1s, background 1s, box-shadow 1s;
	z-index: 2;
}

.fixed-top {
	background: #fff;
	box-shadow: 0 0 20px #888;
	position: fixed;
	top: 0;
	left: 0;
}

.fixed-top  .menu-item {
	color: rgb(227, 85, 106);
}

.fixed-top  .menu-item  .menu-hover{
	background: rgb(227, 85, 106);
}

.scroll-bar {
	width: 100%;
	height: 2px;
	z-index: 1;
	background: #fff;
}

.progress {
	width: 0%;
	height: 100%;
	background: rgb(227, 85, 106);
}

header {
	width: 100%;
	background-color: #ffd9e4;
}

.header-img {
	width: 70%;
	margin: auto;
	display: block;
}

.menu {
	padding: 0;
	width: 1280px;
	margin: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.menu-item {
	list-style: none;
	font-size: 24px;
	color: #fff;
	padding: 20px;
	text-rendering: optimizeLegibility;
	cursor: default;
}

.logo {
	font-family: Levitee Demo;
	font-size: 48px;
	padding: 0;
}

.menu-hover {
	width: 0;
	height: 2px;
	background: #fff;
	margin: auto;
	transition: all .2s;
}

.menu-item:hover .menu-hover {
	width: 100%;
}

.slide-container {
	width: 600px;
	height: 337.5px;
	overflow: hidden;
	display: flex;
	margin: auto;
}

.slide-container .slide-img {
	transition: all 1s;
}


.contato-section {
	width: 100%;
	min-height: 400px;
	margin-top: 20px;
	background-color: rgb(227, 85, 106);
	color: #fff;
}

::-webkit-scrollbar {
	display: none;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
	background: transparent;
    color: white;
    padding: 12px 20px;
    border: 3px solid #fff;
    border-radius: 4px;
    cursor: pointer;
	transition: all .3s;
}

input[type=submit]:hover {
    box-shadow: 0 0 20px #ccc;
}

.container {
	padding: 20px;
}

.right {
	color: #888;
	padding: 10px;
	font-size: 27px;
}

footer {
	margin-top: 20px;
	width: 100%;
	background: rgb(227, 85, 106);
	color: #fff;
}

.center .icons {
	padding-top: 10px;
	height: 100px;
}

.center  p {
	text-align: center;
	padding-top: 10px;
	margin: 0;
}

.center div a {
	color: #fff;
	cursor: default
}

.bolas {
	width: fit-content;
	padding-top: 10px;
	margin: auto;
	display: flex;
}

.bola {
	width: 15px;
	height: 15px;
	margin: 3px 1px 0 1px; 
	border-radius: 50%;
	background: #000;
	z-index: 1;
	opacity: .5;
	transition: all .3s;
}

.bola:hover {
	opacity: .7;
}

.b-active {
	opacity: .7;
}

.tooltip {
	position: fixed;
	min-width: 100px;
	padding: 10px;
	height: 20px;
	border-style: dashed;
	border-color: rgb(227, 85, 106);
	background: #fff;
	color: rgb(227, 85, 106);
	opacity: 0;
	transition: opacity .4s;
}